@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( 88deg,  #003947,#003363, #003947 );
}

/* font-family : "Protest Guerrilla", sans-serif ; poids de la police : 400 ; style de police : normal ; */
.navbar{
    padding: 40px;
    width: 100%;
    z-index: 100;
    background:rgb(6, 44, 59);
    height: 130px;
  
}
.navbar h1{
    position: fixed;
    font-family : "Protest Guerrilla", sans-serif ; 
    color: white;
    text-shadow: 3px 6px 0px black;
}
.reseaux{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}
.reseaux img{
    color: white;
    height: 50px;
}
.reseaux a {
    display: flex;
}
.reseaux h2{
    padding: 10px;
    color: white;
}
.underline{
    margin-top: 5px;
    margin-left: 87.5%;
    background: linear-gradient(150deg ,rgb(0, 148, 247), rgb(245, 163, 177), rgb(148, 138, 3));
    height: 3px;
    width: 10%;
}